<!-- This example requires Tailwind CSS v3.0+ -->
<div class="relative isolate overflow-hidden bg-gray-900">
  <div class="py-24 px-6 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-bold tracking-tight text-white">Give anonymous feedback<br>to brands you love (or hate).</h2>
      <p class="mx-auto mt-6 mb-20 max-w-xl text-lg leading-8 text-gray-300">Tweetback is a free tool that allows anyone to share a brief piece
of feedback to a brand they love or hate</p>

<!-- form below This -->
<%= form_for(Feedback.new) do |f| %>
  <!-- twitter handle -->
  <div class="mx-auto">
    <label for="recipent_handle" class="block text-sm font-medium text-white">Twitter Handle</label>
    <div class="mt-1 flex rounded-md shadow-sm mx-auto">
      <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-s">@</span>
      <input type="text" required name="feedback[recipient_handle]" id="feedback_recipient_handle" class="block  min-w-0  rounded-none rounded-r-md border-gray-300 px-3 py-2 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="tweetback">
    </div>
  </div>

  <!-- tweet text input -->
    <div class="mt-1 max-w-md">
      <textarea rows="4" required maxlength="250" name="feedback[text]" id="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-4" placeholder="hey your customer service sucks"></textarea>
    </div>

    <div class="text-white">
      <p><span id="char_counter">0</span> / 250</p>
    </div>


<!-- button below this -->
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit Feedback</button>
        <!-- <a href="#" class="text-base font-semibold leading-7 text-white">Learn more <span aria-hidden="true">→</span></a> -->
      </div>
        <% if session[:tweet_url] %>
          <p class="text-white">Tweet Sent <a href="<%= session[:tweet_url]%>" target="_blank" class="text-yellow">View It</a></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
    <circle cx="512" cy="512" r="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7" />
    <defs>
      <radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
        <stop stop-color="#7775D6"></stop>
        <stop offset="1" stop-color="#E935C1"></stop>
      </radialGradient>
    </defs>
  </svg>
</div>


<script>
  const charCounter = document.getElementById('char_counter');
  document.getElementById('text').addEventListener('keyup', function(){
    let charLength = this.value.length;
    charCounter.innerText = charLength;

    if (charLength == 250) {
      charCounter.style.color = 'red';
    } else {
      charCounter.style.color = 'white'
    }
  });

</script>
